.FirstHedar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
    background-color: #487eb0;
    position: fixed;
    top: 30px;
    width: 100%;
}
.HeaderName h2{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
    color: #f5f6fa;
}
.HeaderName h2 span{
    color: #192a56;
    margin-left: 5px;
}
.FirstHedar ul{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    
}
.FirstHedar ul li a{
    margin-right: 20px;
    cursor: pointer;
    color: #192a56;
    font-size: 16px;
    font-weight: 600;
    transition: 0.2s ease;
}
.FirstHedar ul li a:hover{
    color: #f5f6fa;
}