.Home{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),url(../../Asstes/img-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Home h2{
    width: 1000px;
    font-size: 40px;
    text-transform: uppercase;
}
.Name{
    font-size: 20px;
    font-weight: 600;
    color: #bed300;
    margin-top: 10px;
}
.Welcome{
    font-size: 18px;
}
.EnterPage{
    width: 300px;
    padding: 10px 10px;
    margin-top: 20px;
    font-size: 18px;
    outline: none;
    background-color: transparent;
    color: aqua;
    border: none;
    text-transform: uppercase;
    text-decoration: underline;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
    margin-top: 20px;
}
.EnterPage:hover{
    transform: translateY(-10px);
}